body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-color: black;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #7a7a7a;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

footer a {
    color: white;
    margin: 0 10px;
    display: block;
}

.item {
    display: block;
    background-color: black;
    margin: 15px;
    width: 500px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 800;
    box-shadow: 0 0 10px rgba(200, 0, 200, 0.8  ); 
}

.item:hover {
    background-color: blueviolet;
    color: white;
}

.item-footer {
    display: inline-block;
}
